apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      securityContext:
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        runAsNonRoot: true
      volumes:
        - name: frontend-config
          emptyDir: {}
        - name: cache
          emptyDir: {}
        - name: run
          emptyDir: {}
        - name: tmp
          emptyDir: {}
      initContainers:
        - name: generate-config
          image: busybox:1.36
          env:
            - name: REACT_APP_BACKEND_URL
              value: "/api/tasks"
          command:
            - sh
            - -c
            - |
              echo "window._env_ = {" > /frontend-config/config.js
              echo "  REACT_APP_BACKEND_URL: \"${REACT_APP_BACKEND_URL}\"," >> /frontend-config/config.js
              echo "  NODE_ENV: \"production\"" >> /frontend-config/config.js
              echo "};" >> /frontend-config/config.js
          volumeMounts:
            - name: frontend-config
              mountPath: /frontend-config
      containers:
        - name: frontend
          image: safaebouziani123/frontend-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_BACKEND_URL
              value: "/api/tasks"
          resources:
            limits:
              memory: "128Mi"
              cpu: "150m"
            requests:
              memory: "64Mi"
              cpu: "50m"
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - name: frontend-config
              mountPath: /usr/share/nginx/html/config.js
              subPath: config.js
            - name: cache
              mountPath: /var/cache/nginx
            - name: run
              mountPath: /var/run
            - name: tmp
              mountPath: /tmp